<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Provider=sqloledb;Data Source=186.202.124.13;User Id=besnipromo;Password=d3m7k8;DATABASE=besnipromo;"/>
  </appSettings>
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <httpRuntime targetFramework="4.5.2"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".syx" mimeType="application/octet-stream" />-->
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <!--<defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>-->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <error statusCode="500" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>

  </system.webServer>
</configuration>