@media screen and (min-width: 700px) and (max-width: 768px) {
	
}
@media screen and (max-width: 768px) {
	.navbar-toggle {
		margin-top: 0px;
		background-color: transparent;
		border: 0px;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: transparent
	}
	nav.navbar.navbar-default {
		padding: 30px 0px 22px;
	}
	#banner {
		margin-top: -2%;
	}
}
@media screen and (max-width: 600px) {
	h2 {
		font-size: 25px;
		line-height: 30px;
	}
	h3 {
		font-size: 20px;
	}
	h2 br, h3 br, span br {
		display: none;
	}
	#premios h2 {
		line-height: 40px;
	}
	a.navbar-brand {
		width: 180px;
    	height: 32px;
	}
	#banner .banner {
		height: 28%;
	}
	#banner {
		height: auto;
		position: inherit;
	}
	.btn-home-cadastre, .btn-confira-ganhadores {
		font-size: 15px;
	}
	#home {
		padding-top: 65%;
	}
	.saiba-concorra {
		padding-right: 0px;
	}
	div#premios {
		margin-bottom: 100px;
	}
	div#premios div[class*='col'] > div {
		margin: 0px;
		padding: 50px 10% 29%;
	}
	div#premios div[class*='col'] > img {
		bottom: -12%;
		width: 80%;
	}
	div#premios div[class*='col']:last-child > img {
		bottom: -5%;
    	width: 60%;
	}
	#rodape .container > div{
		margin: 0px 0px
	}
	#rodape span {
		padding-right: 0px;
	}
	#rodape .col-md-3 {
		margin-top: 30px;
	}
	#fique-ligado, #besni-proxima {
		margin: 50px 0px
	}
	#fique-ligado span, #besni-proxima span {
		font-size: 25px;
	}
}