@media screen and (min-width: 700px) and (max-width: 768px) {
    .navbar-header {
        padding-bottom: 10px;
    }

    .navbar-toggle {
        margin-bottom: 0px;
        margin-top: 5px !important;
    }

    #banner {
        height: 38%;
        margin-top: 104px;
    }

        #banner .banner {
            height: 100%;
        }

    #banner-premios {
        height: 15%;
    }

    #banner-escrita {
        height: 30%;
        margin-top: 104px;
    }

    #banner-escrita-imagem {
        height: 20%;
        margin-top: 104px;
    }

        #banner-escrita-imagem #imagem-carro img {
            height: 73%;
            top: 50%;
            right: 6%;
        }

        #banner-escrita-imagem .centraliza {
            width: 750px;
        }

    /* HOME */
    div#premios div[class*='col']:last-child {
        margin-top: 150px;
    }

    /* FALE CONOSCO */
    #fale-conosco {
        margin: 100px 0px;
    }

    #ganhadores {
        margin: 150px 0px 70px;
    }

    #login {
        margin: 150px 0px 70px;
    }

    /* CADASTRO */
    .metodo-compras .saiba-concorra {
        padding-right: 0px;
    }
}

@media screen and (max-width: 768px) {
    h2 br, h3 br, span br {
        display: none;
    }

    .navbar-nav > li {
        float: none !important;
    }

    .navbar-right {
        float: none !important;
        margin-right: inherit !important;
    }

    .navbar-nav {
        float: none !important;
        margin: inherit !important;
    }

    .navbar-collapse.collapse {
        display: none !important;
        height: inherit;
        padding-bottom: inherit;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    }

        .navbar-collapse.collapse.in {
            display: block !important;
        }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
        margin-top: 0px;
        background-color: transparent;
        border: 0px;
        margin-right: 0px;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent
    }

    nav.navbar.navbar-default {
        padding: 30px 0px 22px;
    }

    /* HOME */
    #home .espaco-colunas div[class*='col']:last-child {
        margin-top: 70px;
    }

    /* COMO PARTICIPAR */
    #como-participar .espaco-colunas > div[class*='col']:last-child {
        margin-top: 10%;
    }

    /* CADASTRO */
    #formCadastro form .row:not(.not-flex) div[class*='col'] {
        display: block;
    }

        #formCadastro form .row:not(.not-flex) div[class*='col'] *:not(label):not(div):not(span) {
            width: 100%;
        }

    #formCadastro .labelFormTwo, #formCadastro .labelForm {
        margin: 0px;
        text-align: left;
        width: auto !important;
    }

        #formCadastro .labelFormTwo span {
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
            margin: 0px;
        }

    #cadastro {
        margin-top: 20%
    }


    /* RODAPE */
    #rodape .container > div {
        margin: 0px 0px
    }

    #rodape span {
        padding-right: 0px;
    }

    #rodape .col-md-3 {
        margin-top: 30px;
    }
}





















@media screen and (max-width: 600px) {
    .centraliza {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    #banner-escrita {
        height: 30%;
        margin-top: 92px;
    }

    #banner {
        height: 38%;
        margin-top: 92px;
    }

    #banner {
        height: auto;
        position: inherit;
        margin-top: 0;
    }

        #banner .banner {
            /*height: 28%;*/
            height: 31%;
        }

    #banner-escrita-imagem {
        height: 16.5%;
    }

        #banner-escrita-imagem #imagem-escrita img {
            left: 15px;
        }

        #banner-escrita-imagem #imagem-carro img {
            right: 15px;
            top: 55%;
            height: 65%;
        }

    #banner-premios {
        height: 15%;
        margin-top: 92px;
    }

        #banner-premios #imagem-carro img {
            width: 90%;
            top: 30%;
            left: 50%;
            margin-left: -45%;
            position: absolute;
        }



    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    h3 {
        font-size: 20px;
    }

    #premios h2 {
        line-height: 40px;
    }

    a.navbar-brand {
        width: 180px;
        height: 32px;
    }



    .btn-home-cadastre, .btn-confira-ganhadores {
        font-size: 15px;
    }

    #home {
        padding-top: 65%;
    }

    .saiba-concorra {
        padding-right: 0px;
    }

    div#premios {
        margin-bottom: 100px;
    }

        div#premios div[class*='col'] > div {
            margin: 0px;
            padding: 50px 10% 29%;
        }

        div#premios div[class*='col'] > img {
            bottom: -12%;
            width: 80%;
        }

        div#premios div[class*='col']:last-child > img {
            bottom: -5%;
            width: 60%;
        }

    #fique-ligado, #besni-proxima {
        margin: 50px 0px
    }

        #fique-ligado span, #besni-proxima span {
            font-size: 25px;
        }

    #premios {
        margin: 50px 0px;
    }

        #premios .row {
            text-align: center !important
        }

            #premios .row img {
                width: 90%;
                margin-top: 30px
            }

    #fale-conosco {
        margin: 15% 0px;
    }

    div#formFaleConosco {
        padding: 0px 10%;
        margin-top: 15%;
    }

        div#formFaleConosco .row div[class*='col']:not([class*='12']):last-child {
            margin-top: 10px;
        }

    #formCadastro form div[class*='col']:last-child {
        margin-top: 10px;
    }

    div[class*='12'] .labelRadio span {
        width: 89% !important;
    }

    #como-participar, #cadastro, #login, #ganhadores, #faq {
        margin: 25% 0px 100px;
    }

    #onde-estamos {
        margin-top: 15%;
    }

    .retorno-mensagem {
        margin-top: 86px;
    }

    .sorteios .col-sm-3 {
        margin: 0px 15px;
    }

    #ganhadores .row[style*='50'] {
        margin-top: 30px !important;
    }

    .metodo-compras .btn-form[data-cartao='Sim'] {
        margin-top: 30px;
    }

    .metodo-compras .col-sm-5 {
        margin-bottom: 20px;
    }
}
body
{
}