html, body {
    height: 100%
}

a:hover {
    text-decoration: none;
}

a em {
    position: relative;
    z-index: 9;
}

#home > .container:first-child > div > div:nth-child(1) {
    margin-bottom: 60px;
}


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: #231f20
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

img {
    max-width: 100%
}

/* MENU */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0px;
}

.navbar-default .navbar-nav > li > a.ativo {
    color: #000;
    font-weight: 900;
    padding: 15px 0;
    font-size: 1.6rem;
}

a.navbar-brand {
    background-image: url(../imagens/logo-besni.png);
    width: 232px;
    height: 42px;
    background-size: cover;
    background-repeat: no-repeat;
}

nav.navbar.navbar-default {
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    border: 0px;
    padding: 30px 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #231f20;
    font-weight: 400;
    padding: 15px;
}











section#menu {
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: white;
    top: 0;
}

/* BANNERS */
.banner img {
    display: none;
}

#banner {
    width: 100%;
    height: 100%;
    margin-top: 110px;
    position: relative;
}

    #banner .banner {
        width: 100%;
        height: 100%;
        background-image: url(../imagens/banner-promocao.jpg);
        position: absolute;
        background-size: cover;
        background-position: center center
    }

    #banner #imagem-carro img {
        width: 63.5%;
        top: 57%;
        left: 19.5%;
        position: absolute;
    }


#home > .container:first-child > div > div:nth-child(1) {
    margin-bottom: 60px;
}



#banner-escrita-imagem {
    width: 100%;
    height: 40%;
    margin-top: 110px;
    position: relative;
    max-height: 264px;
}



    #banner-escrita-imagem .centraliza {
        width: 1170px;
        position: relative;
        margin: 0px auto;
        height: 100%;
        max-width: 100%;
    }

    #banner-escrita-imagem .banner {
        width: 100%;
        height: 100%;
        background-image: url(../imagens/banner-fundo-amarelo.jpg);
        position: absolute;
        background-size: cover;
        background-position: center center
    }

    #banner-escrita-imagem #imagem-carro img {
        top: 45%;
        height: 100%;
        right: 7%;
        position: absolute;
    }

    #banner-escrita-imagem #imagem-escrita img {
        top: 5%;
        height: 90%;
        left: 0%;
        position: absolute;
    }

#banner-escrita {
    width: 100%;
    height: 70%;
    margin-top: 110px;
    position: relative;
}

    #banner-escrita .banner {
        width: 100%;
        height: 100%;
        background-image: url(../imagens/banner-fundo-amarelo.jpg);
        position: absolute;
        background-size: cover;
        background-position: center center;
    }

    #banner-escrita #imagem-carro img {
        width: 45%;
        top: 50%;
        left: 50%;
        margin-left: -22.5%;
        position: absolute;
    }

#banner-premios {
    width: 100%;
    height: 40%;
    margin-top: 110px;
    position: relative;
}

    #banner-premios .banner {
        width: 100%;
        height: 100%;
        background-image: url(../imagens/bg-besni-proxima.jpg);
        position: absolute;
        background-size: cover;
        background-position: center center;
    }

    #banner-premios #imagem-carro img {
        width: 70%;
        top: 30%;
        left: 50%;
        margin-left: -35%;
        position: absolute;
    }

/* ESTILOS FONTES */
@font-face {
    font-family: 'baseninemedium';
    src: url('../fonts/baseninesmallcaps-webfont.woff2') format('woff2'), url('../fonts/baseninesmallcaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baseninebold';
    src: url('../fonts/basenine_bold-webfont.woff2') format('woff2'), url('../fonts/basenine_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'metronic_proregular';
    src: url('../fonts/metronicpro-webfont.woff2') format('woff2'), url('../fonts/metronicpro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.retorno-mensagem {
    position: absolute;
    max-width: 100%;
    margin-top: 14px;
}

.loader {
    border: 2px solid #f9f9f9;
    border-top: 2px solid #363636;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: -3px;
    display: inline-block;
    vertical-align: middle;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.basenine {
    font-family: 'baseninemedium';
    font-weight: 600
}

.basenine-bold {
    font-family: 'baseninebold';
}

.vermelho {
    color: #a8272d
}

.vinho {
    color: #97092a
}

.azul-claro {
    color: #0989b2
}

input, textarea {
    background-color: #f9f9f9;
    /*border: 1px solid #f9f9f9;*/
    border: 1px solid black;
    color: #6a6a6a;
    width: 100%;
    padding: 5px 15px;
    font-family: 'metronic_proregular';
}
#onde-estamos input[placeholder="DIGITE SEU CEP"] {
    width: 140px;
}

    input.error, textarea.error {
        border: 1px solid #f00 !important;
    }

#email {
    background-image: url(../imagens/icone-mail.png);
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-left: 40px;
}

#telefone {
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-left: 40px;
}

.btn-form {
    border: 2px solid #707070;
    background-color: transparent;
    color: #363636;
    font-family: 'baseninebold';
    text-transform: uppercase;
    -webkit-appearance: none;
    padding: 10px 20px;
    width: auto;
    font-size: 16px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .btn-form:hover {
        background-color: #363636;
        color: white;
    }

.labelRadio {
    margin-right: 20px;
    margin-top: 5px;
    color: #6a6a6a;
    font-family: 'metronic_proregular';
}

    .labelRadio input {
        width: 16px !important;
        height: 16px;
        border-radius: 50px;
        -webkit-appearance: none;
        position: relative;
        background-color: #f9f9f9;
        border: 1px solid black;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0px;
        margin-right: 10px;
    }

    .labelRadio span {
        display: inline-block;
        vertical-align: middle;
    }

    .labelRadio input:checked:before {
        width: 10px;
        content: "";
        height: 10px;
        background-color: black;
        display: block;
        border-radius: 50px;
        margin-top: -5px;
        top: 50%;
        position: absolute;
        margin-left: -5px;
        left: 50%;
    }

.checkboxLabel span {
    margin-left: 0px;
    padding-bottom: 10px;
}

#formCadastro form .checkboxLabel > input[type=checkbox] {
    width: 30px !important;
    float: left;
}

/* MUDAR SENHA . ASPX */

.container-fluid {
    /* background: blue; */
}

form > .labelForm, form > .labelFormTwo {
    margin-top: 15px;
}

.novaSenhaClick {
    margin-top: 40px;
    margin-bottom: 40px;
}

.inputWrapper {
    padding: 35px auto auto auto;
    width: 70%;
    margin: 15px 15% 0 15%;
    text-align: left;
    background: rgba(red, 0.4);
}



/* HOME */
#home {
    margin-top: 100px;
}

    #home h2 {
        letter-spacing: 3px;
    }

.btn-home-cadastre {
    border: 1px solid #363636;
    background-color: transparent;
    color: #363636;
    font-family: 'baseninebold';
    text-transform: uppercase;
    -webkit-appearance: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .btn-home-cadastre:hover {
        background-color: #363636;
        color: white;
    }

.traco-vermelho {
    width: 50px;
    height: 5px;
    background-color: #a8272d;
    margin: 30px 0px;
    border-radius: 50px;
}

.saiba-concorra {
    font-size: 14px;
    line-height: 30px;
    padding-right: 40px;
    display: block;
}

#fique-ligado {
    background-image: url(../imagens/bg-fique-ligado.jpg);
}

#fique-ligado, #besni-proxima {
    width: 100%;
    height: auto;
    background-size: cover;
    margin: 80px 0px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 80px 0px;
}

#besni-proxima {
    background-image: url(../imagens/bg-besni-proxima.jpg);
    margin-bottom: 0px;
}

    #fique-ligado span, #besni-proxima span {
        font-family: 'baseninemedium';
        font-size: 35px;
    }

.btn-confira-ganhadores {
    font-family: 'baseninebold';
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    -webkit-appearance: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 40px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .btn-confira-ganhadores:hover {
        background-color: white;
        color: #a52218;
    }

.btn-onde-estamos {
    font-family: 'baseninebold';
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    -webkit-appearance: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 40px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .btn-onde-estamos:hover {
        background-color: white;
        color: #d39f31;
    }

div#premios {
    margin-bottom: 180px;
}

    div#premios div[class*='col'] {
        margin-top: 80px;
    }

        div#premios div[class*='col'] > div {
            background-color: #f6f6f6;
            margin: 0px 12%;
            padding: 50px 50px 115px;
        }

        div#premios div[class*='col'] > img {
            position: absolute;
            bottom: -100px;
            right: 0;
        }


/* INSTAGRAM BESNI */
#galeria-instagram {
    margin: 50px auto;
}

#divInstagramFeed {
    margin-bottom: 35px;
    text-align: center;
    padding: 0px 5%;
}
    
    #divInstagramFeed > li {
        list-style: none;
        display: inline-block;
        text-align: center;
        margin: 5px;
    }

        #divInstagramFeed > li > img {
            width: auto;
        }

    .redes {
        font-family: 'baseninemedium';
        font-size: 25px;
        margin-top: -5px;
    }

        .redes *:not(a) {
            display: inline-block;
            vertical-align: middle
        }

        .redes p {
            padding-top: 10px;
        }

        .redes a:focus {
            text-decoration: none;
        }

    /* COMO PARTICIPAR */ /* CADASTRO */
    #cadastro, #como-participar {
        margin: 250px 0px 100px;
    }

        #como-participar .espaco-colunas .col-xs-3,
        #cadastro .espaco-colunas .col-xs-3 {
            margin-top: 5px;
        }

    /* PREMIOS */
    #premios {
        margin: 100px auto;
    }

section#premios div.container div.row div.col-md-12 p.singleParagraph {
    text-align: left;
    line-height: 30px;
}




    /* FAQ */
    #faq {
        margin-top: 20%;
        margin-bottom: 10%;
    }

    h4.underline-azul {
        display: inline-block;
    }

        h4.underline-azul:after {
            width: 99%;
            height: 1px;
            background-color: #0989b2;
            content: "";
            display: block;
            opacity: 0.5;
            margin-top: 2px;
        }

    /* FALE CONOSCO */
    #fale-conosco {
        margin: 150px 0px;
    }

    div#formFaleConosco, div#formCadastro {
        padding: 0px 15%;
    }

        div#formFaleConosco div[class*='col'], div#formCadastro div[class*='col'] {
            padding-left: 5px;
            padding-right: 5px;
        }

    #formFaleConosco button.btn-limpar {
        float: left;
    }

    /* CADASTRO */
    #cadastro {
        margin: 250px 0px 100px;
    }

    #formCadastro form .row:not(.not-flex) div[class*='col'] {
        display: flex;
        align-items: center;
    }

        #formCadastro form .row:not(.not-flex) div[class*='col'] * {
            flex-grow: 0;
            width: auto;
        }

            #formCadastro form .row:not(.not-flex) div[class*='col'] *:last-child {
                flex-grow: 1;
            }

    #formCadastro div[class*='label'] {
        margin-right: 20px;
        text-transform: uppercase;
        color: #6a6a6a;
        font-family: 'metronic_proregular';
    }

    #formCadastro .labelFormTwo {
        margin-left: 10px;
        width: 15% !important;
    }

    #formCadastro .row.not-flex div[class*='label'] {
        margin-right: 0px;
        margin-left: 0px;
        width: auto !important;
    }

    #formCadastro .labelFormTwo span {
        font-size: 10px;
        line-height: 50px;
        display: block;
        margin-bottom: -20px;
        margin-top: -18px;
    }

    #formCadastro, .metodo-compras {
        margin-top: 70px;
    }

    #formCadastro {
        max-height: 0px;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        overflow: hidden;
    }

    .cartao input {
        text-align: center;
        padding: 5px 5px;
    }

    #formCadastro.aberto {
        max-height: 2000px
    }

    .metodo-compras.fechado {
        max-height: 0px;
    }

    .metodo-compras {
        max-height: 1000px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        overflow: hidden;
    }

    .numero-cartao .col-md-2.col-xs-3 {
        margin-top: 0px !important;
    }

    .metodo-compras .btn-form[data-cartao='Sim'] {
        margin-top: 60px;
    }

    .metodo-compras .btn-form[data-cartao='Nao'] {
        margin-top: 30px;
    }

    /* GANHADORES */
    #ganhadores {
        margin: 250px 0px 100px;
    }

    .sorteios span {
        font-size: 20px;
        display: block;
        line-height: 20px;
        font-family: 'baseninemedium';
        font-weight: 600;
    }

        .sorteios span.premio {
            font-size: 14px;
            display: block;
            line-height: 20px;
        }

    .sorteios .mostra-codigos {
        max-height: 0px;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }

    .sorteios.ativo .mostra-codigos {
        max-height: 700px;
    }

    .sorteios .ativo .mostra-codigos {
        max-height: 500px;
    }

    .sorteios .botao {
        cursor: pointer;
    }

    .sorteios span.codigos {
        font-size: 15px;
        display: block;
        line-height: 20px;
        color: #231f20 !important;
        text-transform: none;
        margin-bottom: 20px;
    }

    .sorteios .passou span {
        color: #97092a
    }

    .sorteios .atual span {
        color: white
    }

    .sorteios .proximo span {
        color: #9d9b9b
    }

    .sorteios .col-sm-3 {
        padding: 15px 15px;
    }

    .sorteios.ativo .col-sm-3 {
        padding: 15px 15px 25px;
    }

    .sorteios .atual {
        background-color: #d5a131
    }

    /* ONDE ESTAMOS */
    #onde-estamos {
        margin-top: 150px;
    }

    #map {
        height: 500px;
        margin-top: 50px;
    }

    /* LOGIN */
    #login {
        margin: 250px 0px 100px;
    }

    .traco-vermelho.meio {
        margin-left: calc(50% - 25px);
        margin-right: calc(50% - 25px);
    }

    .cupon {
        width: 100%;
        height: 65px;
        margin: 10px 0px;
        display: table;
    }

        .cupon h4 {
            display: table-cell;
            vertical-align: middle;
            color: #fff;
            text-align: center;
            font-size: 2.5rem;
        }

    .novo-cupon span:not(.buttons-uploads) {
        background: #a8272d;
        color: #fff;
        width: 30px;
        float: left;
        text-align: left;
        width: 50px;
        height: 50px;
        padding: 15px 20px;
        margin: 10px 0 10px auto;
    }

    .novo-cupon input {
        border: none;
        width: 75%;
        height: 50px;
        margin: 10px auto 10px 10px;
        /*font-family: 'metronic_proregular';*/
        font-family: 'Open Sans', sans-serif;
    }

    .lblValorNota {
        width: auto;
        font-family: 'metronic_proregular';
        padding-left: 27px;
        color: #6a6a6a;
        font-weight: 100;
    }

    input#valor_nota {
        width: 78%;
        display: inline-block;
        outline: none
    }

    #cadastrar-cupom button {
        margin-top: 20px;
        text-align: cente;
    }

    #cadastrar-cupom div button:first-child {
        float: right;
    }

    #cadastrar-cupom div button:last-child {
        float: left;
    }

    .two-buttons-wrap {
        text-align: center;
    }

    .receipt-wrapping {
        margin-bottom: 0;
        padding: 0 20px;
    }

        .receipt-wrapping img {
            box-shadow: 0px 0px 10px gray;
            box-shadow: -1px 1px 5px 2px gray;
        }

    /* RODAPE */
    #rodape {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #f6f6f6;
    }

        #rodape .container > div {
            margin: 0px 50px
        }

        #rodape span {
            font-size: 12px;
            line-height: 25px;
            padding-right: 60px;
            display: block;
        }

        #rodape div[class*='col'] {
            display: inline-block;
            float: none;
            vertical-align: middle;
        }

    /*FERDZ*/
    .msgErro {
        margin-left: 3px;
        color: red;
    }


/*INSTAGRAM */

#divInstagram {
    height: 180px;
    overflow: hidden;
}

#divInstagram ul {
    width: 1200%;
    height: 100%;
    padding: 0px;
}

    #divInstagram ul li {
        position: relative;
        display: inline-block;
        border-top: none;
        border-bottom: none;
        opacity: 1;
        float: none;
        padding: 0px;
        margin: 15px 0;
        cursor: pointer;
        border:5px solid transparent;
        margin: 0px;
        padding: 10px;
    }

        #divInstagram ul li:hover {
            opacity: 1.0;
        }

        #divInstagram ul li img {
            height: 100%;
            filter: brightness(1.1);
            -webkit-filter: brightness(1.1);
            -moz-filter: brightness(1.1);
            -ms-filter: brightness(1.1);
            -o-filter: brightness(1.1);
        }

#galeria ul.carrousel {
    width: 100%;
}

    #galeria ul.carrousel li {
        width: 235px;
        padding: 0px 30px;
        display: inline-block;
        float: left;
        cursor: pointer;
    }

        #galeria ul.carrousel li img {
            margin: 0 auto;
            width: 100%;
            cursor: pointer;
        }

        #galeria ul.carrousel li p {
            font-size: 12px;
            font-family: Arial,sans-serif;
            font-weight: bold;
            color: #ae080f;
            margin-top: 8px;
            text-transform: uppercase;
        }

#galeria .mascara .left {
    position: absolute;
    left: 30px;
    height: 100%;
    background: rgba(0,0,0,0.1);
    padding: 9px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    cursor: pointer
}

#galeria .mascara .right {
    position: absolute;
    right: 9px;
    height: 100%;
    background: rgba(0,0,0,0.1);
    padding: 9px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    cursor: pointer
}

#galeria .mascara .right:hover, #galeria .mascara .left:hover {
    background: rgba(0,0,0,0.6)
}

@media only screen and (min-width: 325px) {

    #formFaleConosco button.btn-limpar {
        float: none;
    }
}

@media only screen and (min-width: 481px) {

    #divInstagram {
        height: 320px;
        overflow: hidden;
        text-align: center;
    }

    #divInstagram ul {
        width: auto;
        display: flow-root;
    }
    #divInstagram ul li {
        padding: 5px;
        1margin: 0;
    }
}

@media only screen and (min-width: 768px) {

    #divInstagram ul li {
        padding: 2.5px;
    }

    .inputWrapper {
        width: 40%;
        margin: 15px 30% 0 30%;
    }

    .checkboxLabel span {
        margin-left: 7px;
        padding-bottom: 10px;
    }

    #cadastrar h2:first-child {
        margin-top: 50px;
    }

    #cadastrar h3:first-child {
        margin-top: 0px;
    }

    .novo-cupon input {
        width: 75%;
    }

    #cadastrar-cupom button {
        float: right;
    }

    .two-buttons-wrapping {
        float: right;
        text-align: right;
        padding: 0;
    }

    #cadastrar-cupom div button:first-child {
        margin-left: 5px;
        margin-right: 0px;
    }

    #cadastrar-cupom div button:last-child {
        margin-right: 5px;
        margin-left: 0px;
        float: right;
    }

    #ganhadores > .container .receipt-wrapping {
        margin-top: 275px;
    }
}

@media only screen and (min-width: 992px) {

    .novo-cupon input {
        width: 85%;
    }

    .receipt-wrapping {
        margin-top: -100px;
        margin-bottom: none;
    }
}

    @media only screen and (min-width: 1800px) {

        #cadastro {
            margin-top: 350px;
        }
    }
