html, body {
    height: 100%
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: #231f20
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

img {
    max-width: 100%
}

/* MENU */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0px;
}

a.navbar-brand {
    background-image: url(../imagens/logo-besni.png);
    width: 232px;
    height: 42px;
    background-size: cover;
    background-repeat: no-repeat;
}

nav.navbar.navbar-default {
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    border: 0px;
    padding: 30px 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #231f20;
    font-weight: 400;
    padding: 15px 25px;
}

section#menu {
    position: fixed;
    z-index: 9;
    width: 100%;
    background-color: white;
    top: 0;
}

/* BANNERS */
.banner img {
    display: none;
}

#banner {
    width: 100%;
    height: 100%;
    margin-top: 110px;
    position: relative;
}

    #banner .banner {
        width: 100%;
        height: 100%;
        background-image: url(../imagens/banner-promocao.jpg);
        position: absolute;
        background-size: cover;
        background-position: center center
    }

    #banner #imagem-carro img {
        width: 63.5%;
        top: 57%;
        left: 19.5%;
        position: absolute;
    }

#banner-escrita-imagem {
    width: 100%;
    height: 40%;
    margin-top: 110px;
    position: relative;
    max-height: 264px;
}

    #banner-escrita-imagem .centraliza {
        width: 1170px;
        position: relative;
        margin: 0px auto;
        height: 100%;
        max-width: 100%;
    }

    #banner-escrita-imagem .banner {
        width: 100%;
        height: 100%;
        background-image: url(../imagens/banner-fundo-amarelo.jpg);
        position: absolute;
        background-size: cover;
        background-position: center center
    }

    #banner-escrita-imagem #imagem-carro img {
        top: 45%;
        height: 100%;
        right: 7%;
        position: absolute;
    }

    #banner-escrita-imagem #imagem-escrita img {
        top: 5%;
        height: 90%;
        left: 0%;
        position: absolute;
    }

#banner-escrita {
    width: 100%;
    height: 70%;
    margin-top: 110px;
    position: relative;
}

    #banner-escrita .banner {
        width: 100%;
        height: 100%;
        background-image: url(../imagens/banner-fundo-amarelo.jpg);
        position: absolute;
        background-size: cover;
        background-position: center center;
    }

    #banner-escrita #imagem-carro img {
        width: 45%;
        top: 50%;
        left: 50%;
        margin-left: -22.5%;
        position: absolute;
    }

#banner-premios {
    width: 100%;
    height: 40%;
    margin-top: 110px;
    position: relative;
}

    #banner-premios .banner {
        width: 100%;
        height: 100%;
        background-image: url(../imagens/bg-besni-proxima.jpg);
        position: absolute;
        background-size: cover;
    }

    #banner-premios #imagem-carro img {
        width: 70%;
        top: 30%;
        left: 50%;
        margin-left: -35%;
        position: absolute;
    }

/* ESTILOS FONTES */
@font-face {
    font-family: 'baseninemedium';
    src: url('../fonts/baseninesmallcaps-webfont.woff2') format('woff2'), url('../fonts/baseninesmallcaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baseninebold';
    src: url('../fonts/basenine_bold-webfont.woff2') format('woff2'), url('../fonts/basenine_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.basenine {
    font-family: 'baseninemedium';
    font-weight: 600
}

.basenine-bold {
    font-family: 'baseninebold';
}

.vermelho {
    color: #a8272d
}

.vinho {
    color: #97092a
}

.azul-claro {
    color: #0989b2
}

input, textarea {
    background-color: #f9f9f9;
    /*border: 1px solid #f9f9f9;*/
    border: 1px solid black;
    color: #6a6a6a;
    width: 100%;
    padding: 5px 15px;
}

    input.error, textarea.error {
        border: 1px solid red;
    }

#email {
    background-image: url(../imagens/icone-mail.png);
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-left: 40px;
}

#telefone {
    background-image: url(../imagens/icone-telefone.png);
    background-position: 15px;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-left: 40px;
}

.btn-form {
    border: 2px solid #707070;
    background-color: transparent;
    color: #363636;
    font-family: 'baseninebold';
    text-transform: uppercase;
    -webkit-appearance: none;
    padding: 10px 20px;
    font-size: 16px;
}

.labelRadio {
    margin-right: 20px;
    margin-top: 5px;
    color: #6a6a6a;
}

    .labelRadio input {
        width: 16px !important;
        height: 16px;
        border-radius: 50px;
        -webkit-appearance: none;
        position: relative;
        background-color: #f9f9f9;
        border: 1px solid black;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0px;
        margin-right: 10px;
    }

    .labelRadio span {
        display: inline-block;
        vertical-align: middle;
    }

    .labelRadio input:checked:before {
        width: 10px;
        content: "";
        height: 10px;
        background-color: black;
        display: block;
        border-radius: 50px;
        margin-top: -5px;
        top: 50%;
        position: absolute;
        margin-left: -5px;
        left: 50%;
    }


/* HOME */
#home {
    margin-top: 100px;
}

    #home h2 {
        letter-spacing: 3px;
    }

.btn-home-cadastre {
    border: 1px solid #363636;
    background-color: transparent;
    color: #363636;
    font-family: 'baseninebold';
    text-transform: uppercase;
    -webkit-appearance: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 30px;
}

.traco-vermelho {
    width: 50px;
    height: 5px;
    background-color: #a8272d;
    margin: 30px 0px;
    border-radius: 50px;
}

.saiba-concorra {
    font-size: 14px;
    line-height: 30px;
    padding-right: 40px;
    display: block;
}

#fique-ligado {
    background-image: url(../imagens/bg-fique-ligado.jpg);
}

#fique-ligado, #besni-proxima {
    width: 100%;
    height: auto;
    background-size: cover;
    margin: 80px 0px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding: 80px 0px;
}

#besni-proxima {
    background-image: url(../imagens/bg-besni-proxima.jpg);
    margin-bottom: 0px;
}

    #fique-ligado span, #besni-proxima span {
        font-family: 'baseninemedium';
        font-size: 35px;
    }

.btn-confira-ganhadores {
    font-family: 'baseninebold';
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    -webkit-appearance: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 40px;
}

div#premios {
    margin-bottom: 180px;
}

    div#premios div[class*='col'] {
        margin-top: 80px;
    }

        div#premios div[class*='col'] > div {
            background-color: #f6f6f6;
            margin: 0px 12%;
            padding: 50px 50px 115px;
        }

        div#premios div[class*='col'] > img {
            position: absolute;
            bottom: -100px;
            right: 0;
        }

#galeria-instagram {
    margin: 50px 0px;
    ;
}

.redes {
    font-family: 'baseninemedium';
    font-size: 25px;
    margin-top: -5px;
}

    .redes * {
        display: inline-block;
        vertical-align: middle
    }

    .redes p {
        padding-top: 10px;
    }

/* COMO PARTICIPAR */
#como-participar {
    margin: 250px 0px 100px;
}
#como-participar .espaco-colunas .col-xs-3 {
    margin-top: 5px;
}

/* PREMIOS */
#premios {
    margin: 100px auto;
}

/* FAQ */
#faq {
    margin-top: 20%;
    margin-bottom: 10%;
}

h4.underline-azul {
    display: inline-block;
}

    h4.underline-azul:after {
        width: 99%;
        height: 1px;
        background-color: #0989b2;
        content: "";
        display: block;
        opacity: 0.5;
        margin-top: 2px;
    }

/* FALE CONOSCO */
#fale-conosco {
    margin: 150px 0px;
}

div#formFaleConosco, div#formCadastro {
    padding: 0px 15%;
}

    div#formFaleConosco div[class*='col'], div#formCadastro div[class*='col'] {
        padding-left: 5px;
        padding-right: 5px;
    }

/* CADASTRO */
#cadastro {
    margin: 250px 0px 100px;
}

#formCadastro form .row:not(.not-flex) div[class*='col'] {
    display: flex;
    align-items: center;
}

    #formCadastro form .row:not(.not-flex) div[class*='col'] * {
        flex-grow: 0;
        width: auto;
    }

        #formCadastro form .row:not(.not-flex) div[class*='col'] *:last-child {
            flex-grow: 1;
        }

#formCadastro div[class*='label'] {
    margin-right: 20px;
    text-transform: uppercase;
    color: #6a6a6a;
}

#formCadastro .labelFormTwo {
    margin-left: 10px;
    width: 15% !important;
}

#formCadastro .row.not-flex div[class*='label'] {
    margin-right: 0px;
    margin-left: 0px;
    width: auto !important;
}

#formCadastro .labelFormTwo span {
    font-size: 10px;
    line-height: 50px;
    display: block;
    margin-bottom: -20px;
    margin-top: -18px;
}

#formCadastro, .metodo-compras {
    margin-top: 70px;
}

#formCadastro {
    max-height: 0px;
    transition: 0.4s ease;
    overflow: hidden;
}

.cartao input {
    text-align: center;
    padding: 5px 5px;
}

#formCadastro.aberto {
    max-height: 2000px
}

.metodo-compras.fechado {
    max-height: 0px;
}

.metodo-compras {
    max-height: 1000px;
    transition: 0.2s ease;
    overflow: hidden;
}

.numero-cartao .col-md-2.col-xs-3 {
    margin-top: 0px !important;
}

.metodo-compras .btn-form[data-cartao='Sim'] {
    margin-top: 60px;
}

.metodo-compras .btn-form[data-cartao='Nao'] {
    margin-top: 30px;
}

/* GANHADORES */
#ganhadores {
    margin: 250px 0px 100px;
}

.sorteios span {
    font-size: 20px;
    display: block;
    line-height: 20px;
    font-family: 'baseninemedium';
    font-weight: 600;
}

    .sorteios span.premio {
        font-size: 14px;
        display: block;
        line-height: 20px;
    }

.sorteios .mostra-codigos {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s ease;
}

.sorteios.ativo .mostra-codigos {
    max-height: 700px;
}

.sorteios .ativo .mostra-codigos {
    max-height: 500px;
}

.sorteios .botao {
    cursor: pointer;
}

.sorteios span.codigos {
    font-size: 15px;
    display: block;
    line-height: 20px;
    color: #231f20 !important;
    text-transform: none;
    margin-bottom: 20px;
}

.sorteios .passou span {
    color: #97092a
}

.sorteios .atual span {
    color: white
}

.sorteios .proximo span {
    color: #9d9b9b
}

.sorteios .col-sm-3 {
    padding: 15px 15px;
}

.sorteios.ativo .col-sm-3 {
    padding: 15px 15px 25px;
}

.sorteios .atual {
    background-color: #d5a131
}

/* ONDE ESTAMOS */
#map {
    height: 500px;
    margin-top: 50px;
}

/* LOGIN */
#login {
    margin: 250px 0px 100px;
}

/* Paulo */
.traco-vermelho.meio {
    margin-left: calc(50% - 25px);
    margin-right: calc(50% - 25px);
}

.cupon {
    width: 100%;
    height: 65px;
    margin: 10px 0px;
    display: table;
}

    .cupon h4 {
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        text-align: center;
        font-size: 2.5rem;
    }

#cadastro, #como-participar {
    margin-top: 150px;
    margin-bottom: 10%;
}

/* RODAPE */
#rodape {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
}

    #rodape .container > div {
        margin: 0px 50px
    }

    #rodape span {
        font-size: 12px;
        line-height: 25px;
        padding-right: 60px;
        display: block;
    }

    #rodape div[class*='col'] {
        display: inline-block;
        float: none;
        vertical-align: middle;
    }
